.my-btn {
  padding: 12px 24px;
  border-radius: 5px;
}

.my-btn-white {
  color: var(--fifth_color);
  background-color: var(--first_color);
}

.my-btn-purple {
  color: var(--first_color);
  background-color: var(--fifth_color);
}